<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\internal-nlog.txt">
  <!--internalLogFile="c:\temp\internal-nlog.txt"-->

  <extensions>
    <add assembly="NLog.Appsettings.Standard" />
  </extensions>

  <targets>
    <target name="database"
            xsi:type="Database"
            connectionString="server=localhost;Database=bumpstock_api_log;User Id=sa;Password=vasefoder;integrated security=false;"
            commandType="StoredProcedure"
            commandText="[dbo].[proc_log_insert]">

      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@callsite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <!--<logger name="*" minlevel="Debug" writeTo="console" />-->
  </rules>
</nlog>
